config FAM_ATOMIC
	tristate "FAM_ATOMIC - The Machine FAM atomic support"
	depends on TMFS
	default m
	help
	  Enable this to support using FAM atomic operations on
	  The Machine. This module is used by the libfam-atomic
	  userspace library.
